<section class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="contact-form border" style="padding: 20px; border-radius: 5px;">
            <div class="heading_container">
              <h2>Change Password</h2>
            </div>
            <form #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm.value, user)">
              <div class="form-group">
                <input type="password" name="currentPassword" placeholder="Current Password" class="form-control" ngModel required />
              </div>
              <div class="form-group">
                <input type="password" name="newPassword" placeholder="New Password" class="form-control" ngModel required />
              </div>
              <div class="form-group">
                <input type="password" name="confirmationPassword" placeholder="Confirm New Password" class="form-control" ngModel required />
              </div>
              <div class="btn-box">
                <button type="submit" [disabled]="!changePasswordForm.valid">Change Password</button>
              </div>
            </form>
            <div class="form-group">
              <div *ngIf="errorMessage" class="alert alert-danger alert-dismissed fade show" role="alert">
                Operation failed: {{ errorMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div *ngIf="isSuccessful" class="alert alert-success " role="alert">
                User Added sucessfully
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
               </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

