.contact_section {
    background-color: rgb(220,220,220); /* Set your desired background color */
  }
  .contact-form {
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Border radius */
    padding: 20px; /* Padding */
    background-color: #f8f9fa; /* Background color */
}
