<section class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="contact-form border" style="padding: 20px; border-radius: 5px;">
                    <div class="heading_container">
                        <h2>Reset Password Confirmation</h2>
                    </div>
                    <form (submit)="confirmResetPassword()">
                        <div class="form-group">
                            
                            <input type="password" id="newPassword" name="newPassword" placeholder="New Password" class="form-control form-control-sm" [(ngModel)]="newPassword" minlength="6" required>
                        </div>
                        <div class="form-group">

                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" class="form-control form-control-sm" [(ngModel)]="ConfirmPassword" minlength="6" required>
                        </div>
                        <div class="btn-box">
                            <button type="submit" class="btn btn-primary"> Reset Password</button>
                        </div>
                    </form>
                    <br>
                    <div *ngIf=" isFailed"
                        class="alert alert-danger alert-dismissed fade show" role="alert">
                         Error: {{ errorMessage }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div *ngIf="isSuccessful" class="alert alert-success " role="alert">
                        {{sucessMessage}}
                        <button type="button" class="btn-close"  aria-label="Close" (click)="closeSuccessMessage()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  
  