
.contact_section {
  padding: 50px 0; /* Adjust padding as needed */
  
    background-color: #e8ece6; /* Set your desired background color */
  
  
}

.contact-form {
  border: 1px solid #ddd; /* Add a border for the form */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Add rounded corners */
  background-color: #ffffff ;
  width: 49vh;
}

.form-group {
  margin-bottom: 15px; /* Adjust spacing between form groups */
}

.error-message {
  color: red;
  font-size: 12px; /* Adjust font size as needed */
}